
<div align="center">
<fieldset>
<h1>This is Registration Form</h1>
<form action="addstud" method="POST">
    <table border="1" cellspacing="10">
        <tr>
            <td>Roll_No</td>
            <td> <input type="text" name="roll_no"> </td>
        </tr>
        
        <tr>
            <td>Name</td>
            <td> <input type="text" name="name"> </td>
        </tr>
        
        <tr>
            <td>College</td>
            <td> <input type="text" name="clg"> </td>
        </tr>
        
        <tr>
            <td>Email</td>
            <td> <input type="text" name="email"> </td>
        </tr>
	<tr>
            <td> Age</td>
            <td> <input type="text" name="age"> </td>
        </tr>
        <tr>
            <td> Gender</td>
            <td> <input type="text" name="gender"> </td>
        </tr>
	<tr>
            <td> <input type="submit" value="Save"> </td>
            <td>  <input type="reset" value="Reset"> </td>
        </tr>
    </table>
</form>
    <h2> <a href="/">Home</a></h2>
</div>
</fieldset>